h1 {
    background: rgb(255, 192, 203);
    background-size: 30px;
    color:rgb(0, 0, 0);
    text-align: center;
    text-size-adjust: 10px;
    font-family: serif;
}

body {
    background: rgb(158, 1, 106);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 233, 251);
}

.table {
  width: 70%;
  border-collapse: collapse;
  margin: 20px auto;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  border: 1px solid #555;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #e75480;
  color: rgb(0, 0, 0);
}

tbody tr:nth-child(even) {
  background-color: #f9d9e5;
}

tbody tr:nth-child(odd) {
    background-color:rgb(255, 192, 203);
}

p{
    text-align: center;
    background-color: #f9d9e5;
}